beautifulsoup4==4.12.2
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1700303426725/work/certifi
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1695468619093/work
charset-normalizer==3.3.2
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1699041467346/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1702929647766/work
freetype-py @ file:///home/conda/feedstock_root/build_artifacts/freetype-py_1650983368720/work
greenlet @ file:///home/conda/feedstock_root/build_artifacts/greenlet_1702072530899/work
html5lib==1.1
idna==3.6
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1695379925569/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1700509454821/work
munkres==1.1.4
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1700874463738/work/dist/numpy-1.26.2-cp312-cp312-linux_x86_64.whl#sha256=623edd991be8f808d1f8e311b00923eff511e493e579c21bed09d101c09032d0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1702057142846/work
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1697423631343/work
pycairo==1.25.1
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1690737849915/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1693930252784/work
rdkit @ file:///home/conda/feedstock_root/build_artifacts/rdkit_1702097866120/work
reportlab @ file:///home/conda/feedstock_root/build_artifacts/reportlab_1702306255825/work
requests==2.31.0
rlPyCairo @ file:///home/conda/feedstock_root/build_artifacts/rlpycairo_1687519531733/work
setuptools==68.2.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
soupsieve==2.5
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1698950581005/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1702176139754/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
urllib3==2.1.0
webencodings==0.5.1
wheel==0.42.0
